* {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-family: 'Georgia';
  font-size: 48px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, .6);
}

.background {
  background-image: url(../image/background.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  pointer-events: none;
}

/* container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* ヘッダー */
header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#bars {
  display: none;
  cursor: pointer;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.header-left {
  line-height: 80px;
}

.header-left img {
  vertical-align: middle;
}

.header-right ul {
  display: flex;
  font-weight: bold;
  color: rgba(0, 0, 0, .6);
}

.header-right li {
  padding: 0 20px;
  font-size: 18px;
  line-height: 80px;
  cursor: pointer;
}

.header-right li:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.1);
}

/* modal */
#modal {
  background-color: rgba(0, 0, 0, 0.541);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}

#modal.appear {
  display: block;
  opacity: 1;
  pointer-events: auto;  
}

#close {
  position: fixed;
  top: 16px;
  font-size: 56px;
  right: 28px;
  color: white;
  cursor: pointer;
}

#modal ul {
  padding-top: 25%;
  transform: rotate(360deg);
  transition: all .5s;
}

#modal li {
  padding-top: 40px;
}

#modal.appear ul {
  transform: rotate(0);
}

#modal a {
  color: white;
  display: inline-block;
}

.header-right li:nth-child(2n) {
  position: relative;
}



#skill-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 245px;
  background-color: rgb(255, 255, 255);
}

.header-right li:nth-child(2n):hover #skill-menu {
  display: block;
}

#skill-menu ul {
  display: flex;
  flex-direction: column;
}

#skill-menu li {
  border: 1px solid;
}

#skill-menu a {
  line-height: 80px;
  display: inline-block;
}



/* top */
.top {
  margin-top: 80px;
  background-color: #7FCDBA;
  height: 600px;
  color: #fff;
  text-align: center;
  position: relative;
}

.top-text {
  padding-top: 80px;
}


.top-text p {
  font-size: 36px;
  padding: 20px 0 60px;
  font-family: 'Georgia';
}

/* about */
.about {
  height: 600px;
  text-align: center;
  background-color: #efefef;
}

.about h1 {
  padding: 120px 0 60px;
}

.about p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

/* profile */
.profile {
  height: 600px;
  text-align: center;
}

.profile h1 {
  padding: 80px 0 60px;
}

.profile-all {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.profile-left {
  width: 50%;
}

.profile-left img {
  border: 1px solid;
  border-radius: 50%;
  background-color: #fff;
}

.profile-right {
  width: 50%;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.profile h2 {
  font-size: 36px;
  padding-top: 20px;
}

.profile p {
  font-size: 24px;
}

/* skill */
.skill {
  height: 600px;
  text-align: center;
  background-color: #efefef;
}

.skill h1 {
  padding: 80px 0;
}

.skill ul {
  display: flex;
  font-size: 24px;
}

.skill li {
  margin: 40px;
  width: 33%;
  border: 1px solid;
  padding: 40px 0px;
  background-color: rgb(255, 255, 255);
}

.skill h2 {
  font-weight: normal;
  font-family: 'Georgia';
}

.skill p {
  padding: 15px 0 30px;
}

.skill a {
  background-color: #7FCDBA;
  text-decoration: none;
  color: #fff;
  padding: 4px 8px;
  box-shadow: 0 4px #6cad9d;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

.skill a:hover {
  opacity: .6;
}

.skill a:active {
  box-shadow: none;
  transform: translateY(4px);
}


/* contact */
.contact {
  height: 600px;
  text-align: center;
}

.contact h1 {
  padding: 80px 0 40px;
}

.contact form div {
  text-align: left;
  width: 65%;
  margin: 0 auto;
}

.contact p {
  line-height: 40px;
}

.contact input, textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  background-color: #efefef;
  border: none;
}

#submit {
  width: 10%;
  background-color: #7FCDBA;
  color: #fff;
}

#submit:hover {
  opacity: .8;
}

textarea {
  height: 100px;
}

/* footer */
footer {
  height: 600px;
  background-color: #7FCDBA;
  color: #fff;
  text-align: center;
  position: relative;
}

footer h1 {
  font-size: 56px;
  padding-top: 200px;
}

.footer-bottom {
  height: 80px;
  background-color: #6cad9d;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 80px;
}

#backTop {
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  color: black;
  line-height: 70px;
  font-size: 32px;
  font-weight: bold;
}

#backTop:hover {
  opacity: .7;
}


@media (max-width: 1000px) {
  h1 {
    font-size: 36px;
  }

  .header-right ul {
    display: none;
  }

  .top img {
    width: 200px;
  }

  .about p {
    font-size: 16px;
  }

  .profile {
    height: 100%;
  }

  .profile-all {
    flex-direction: column;
  }

  .profile-left {
    width: 100%;
  }

  .profile-right {
    width: 100%;
    text-align: center;
  }

  .profile-right p {
    text-align: left;
    padding-bottom: 32px;
  }

  .skill ul {
    flex-direction: column;
  }

  .skill li {
    width: 100%;
    margin: 40px auto;
  }

  .skill {
    height: 100%;
  }

  .contact {
    height: 100%;
  }

  #submit {
    width: 50%;
  }

  footer h1 {
    font-size: 32px;
  }

  #bars {
    display: block;
    position: fixed;
    top: 16px;
    font-size: 56px;
    right: 24px;
    color: #00000098;
  }

  #bars.hide {
    display: none;
  }
}